body{
	background-image: url('black-and-white-black-and-white-challenge-262488.jpg');
	background-size: cover;
}
#sub{
	padding: 10px 15px 10px 15px;
	margin-left: 210px;
	margin-top: 15px;
	margin-bottom: 30px;
	background-color: black;
	color: white;
	font-size: 25px;
}